/*新闻*/
.body{
	width: 1200px;
	margin:  0 auto;
}
.body-1{
	width: 100%;
	cursor: pointer;
}
.body-1 img{
	width: 100%;
}
.body h2{
	text-align: center;
	padding: 30px 0;
}
.body h2>a{
	font-size: 26px;
	color: #333333;
	font-weight: bold;
}
.body-2{
	height: 1100px;
}
.body-2 li{
	width: 100%;
	float: left;
	padding: 30px 0;
}

.body-2>ul>li>.li-text{
	width: 454px;
	float: right;
	
}
.body-2>ul>li>*{
	float: left;
}
.li-text{
	font-weight: 100;
	height: 290px;
}
.li-text>*{
	padding: 10px 0;
}
.li-text a:hover{
	text-decoration: underline;
}
.li-text-1{
	height: 196px;
}
.li-text-1>*{
	padding: 6px 0;
}
.kongbai{
	background: #D9D9D9;
	height: 250px;
	text-align: center;
}
.kongbai button{
	margin-top: 90px;
	color: #333333;
	background: transparent;
	width: 120px;
	height: 36px;
	border-radius: 10px;
	border: 1px solid #333333;
}
.body-2 img{
	width: 717px;
	height: 290px;
}

